<section>
    <div class="container">
        <br>
        <br>
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="assets/img/myface.JPG" alt="Image">
                    </figure>
                </div>
        
                <div class="media-content">
                    <div class="content">
                        <p class="title is-4">
                            Overview
                        </p>
            
                        <p class="subtitle is-5">
                            Hi! My name is Andres Ponciano and I'm a senior Computer Science student at
                            Florida State University. On my website you can find a brief overview of who I am,
                            my interests and some of the projects I've participated in.
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>