<section>
    <div class="container">
        <br>
        <div class="box">
            <p class="title is-4">
                <br>
                Projects
            </p>  
            
            <div class="columns">
                <div class="column is-half">
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-info has-background-grey-dark">
                            <p class="title is-5">Procrastinaint</p>
                            <p class="subtitle is-5">Google Calendar assistant aimed to increase productivity.</p>
                            <!-- <figure class="image"> -->
                              <img class="center" src="./assets/img/unnamed.png">
                            <!-- </figure> -->
                          </article>
                    </div>

                </div>
                <div class="column is-half">
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-info has-background-grey-dark">
                            <p class="title is-5">Recipe Generator</p>
                            <p class="subtitle is-5">Flask application to generate optimal recipes from specific ingredients and calorie count.</p>
                            <!-- <figure class="image is-4by5"> -->
                                <img style="padding-top: 20px;" src="./assets/img/unnamed2.png">
                                <img style="padding-top: 68px;" src="./assets/img/image.png">
                                <!-- </figure> -->
                          </article>
                    </div>

                </div>
            </div>


        </div>

    </div>
</section>
