<section>
    <div class="container">
        <br>
        <div class="box">
           <p class="title is-4">
            Extracurricular
            </p>   
            <br>
            <p class="title is-5">
                (Student Athletic Academic Center) SAAS-Tutor
            </p>
            <div class="content">
            <ul type="a" style="padding-left: 24px;">
                <li class="subtitle is-5">
                    Meet with dozens of student athletes throughout the week in order to help and guide them through their academics.
                </li>
                <li class="subtitle is-5">
                    Taught a variety of subjects including: Algebra, Pre-Calculus and Discrete Mathematics.
                </li>
            </ul> 
            
            </div>
            <p class="title is-5">
                (Central Americans United Student Association) CAUSA Secretary
            </p>
            <div class="content">
            <ul type="a" style="padding-left: 24px;">
                <li class="subtitle is-5">
                    Helped plan multiple events per semester involving indigenous cultures and Central American history and sociopolitical issues.
                </li>
                <li class="subtitle is-5">
                    Kept track of how the events developed in order to improve the quality of upcoming events and the necessary planning.
                </li>
            </ul> 
    
            </div>

            <p class="title is-5">
                ACM
            </p>
            <div class="content">
            <ul type="a" style="padding-left: 24px;">
                <li class="subtitle is-5">
                    Attended meetings where we discussed and studied different algorithms and programming tools.
                </li>
                <li class="subtitle is-5">
                    Achieved 3rd place in most recent semesterly programming contest against upperclassmen and faculty.
                </li>
            </ul> 
            </div>
        
  
        </div>

    </div>
</section>
