<footer class="footer">
    <div class="content has-text-centered">
      <p class="title is-5">Contact</p>
      <div class="columns">

        <div class="column is-one-third has-text-right">
          <a href="https://github.com/AndresPonciano" style="color: hsl(0, 0%, 29%);"> <i class="fab fa-github-square"></i> AndresPonciano</a>
        </div>

        <div class="column is-one-third">
          <i class="fas fa-envelope"></i> 
          <a href="mailto:andres.ponciano123@gmail.com" style="color: hsl(0, 0%, 29%);">
            andres.ponciano123@gmail.com
          </a>
        </div>   

        <div class="column is-one-third has-text-left">
          <i class="fab fa-linkedin"></i> 
          <a href="https://linkedin.com/in/andresponciano" style="color:hsl(0, 0%, 29%)">
            andresponciano
          </a>
        </div>  

      </div>
      <p>
        Last edited: Feb 4, 2020
      </p>
      <!-- <p>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p> -->
    </div>
  </footer>
