<section>
    <br>
    <br>
    <div class="container">
        <div class="box" style="background-color:  hsl(0, 0%, 21%);">
            <div>
                <p class="has-text-centered" style="color: white;">
                    <i class="fas fa-file-code" style="color: aqua;"></i>
                    resume.cpp
                    <span style="float: right;"> <i class="fas fa-circle" style="color: greenyellow;"></i>  <i class="fas fa-minus-circle" style="color: rgb(247, 210, 46); padding-left: 5px;"></i>  <i class="fas fa-times-circle" style="padding-left: 5px; color: rgb(219, 63, 43);"></i> </span>
                </p>
            </div>

            <hr/>

            <br>

            <a class="accordion" style="font-size: medium;">
              <i class="fas fa-chevron-right"></i>
              <span class="yellowtext">class</span> <span style="color: paleturquoise;"> Andres</span> {{
            </a>




            <div class="panel">
              <span class="yellowtext">private:</span><br>
              std::string name = <span>"Andres Ponciano"</span>;<br>
              std::string school = <span>"Florida State University"</span>;<br>
              <span class="yellowtext">float</span> gpa = 3.48;<br><br>

              <span class="yellowtext">public:</span><br>
              <span class="yellowtext">void</span> printSkills();<br>
              <span class="yellowtext">void</span> printProjects();<br>
              <span class="yellowtext">void</span> printContact();
            </div>
            <p style="padding-left: 15px; color: white; padding-top: 1px;">}</p>

            <a class="accordion" style="font-size: medium;"> 
              <i class="fas fa-chevron-right"></i>
              <span class="yellowtext">void </span>Andres::printSkills() {      
            </a>
            <div class="panel">
              printf(<span class="stringText">"Languages\n"</span>);<br>
              printf(<span class="stringText">"Proficient in: C++/C, Python and C#\n"</span><br>
              <span class="filler">&nbsp</span> <span class="stringText">"Familiar with: Java, HTML, and CSS\n"</span>);
              <br><br>
              printf(<span class="stringText">"Technologies and Frameworks:\n"</span>);<br>
              printf(<span class="stringText">"Flask, Bootstrap and Android Studio\n"</span>);
            </div>
            <p style="padding-left: 15px; color: white; padding-top: 1px;">}</p>

            <a class="accordion" style="font-size: medium;"> 
              <i class="fas fa-chevron-right"></i>
              <span class="yellowtext">void </span>Andres::printProjects() {    
            </a>
            <div class="panel">
              printf(<span class="stringText">"Procrastinaint\n"</span>);<br>
              printf(<span class="stringText">"Android Application made to help students improve"</span><br>
              <span class="filler">&nbsp</span> <span class="stringText">"productivity and facilitate Google Calendar use."</span>);<br>
              <br>
              printf(<span class="stringText">"Recipe Generator"</span>);<br>
              printf(<span class="stringText">"Flask based web application in order to generate recipes"</span><br>
              <span class="filler">&nbsp</span> <span class="stringText">"based on user inputted ingredients and calories.\n"</span>);<br>

            </div>              
            <p style="padding-left: 15px; color: white; padding-top: 1px;">}</p>

            <a class="accordion" style="font-size: medium;"> 
              <i class="fas fa-chevron-right"></i>
              <span class="yellowtext">void </span>Andres::printContact() { 
            </a>
            <div class="panel">
              printf("<span class="stringText">Resume: <a href="./assets/files/AndresPoncianoResume.pdf">AndresPoncianoResume.pdf</a></span>");<br>
              printf("<span class="stringText">Github: <a href="https://github.com/AndresPonciano">https://github.com/AndresPonciano</a></span>");<br>
              printf("<span class="stringText">LinkedIn: <a href="https://linkedin.com/in/andresponciano">https://linkedin.com/in/andresponciano</a></span>");<br>
              printf("<span class="stringText">Email: <a href="mailto:andres.ponciano123@gmail.com">Send email!</a></span>");<br>
            </div>
            <p style="padding-left: 15px; color: white; padding-top: 1px;">}</p>

        </div>
    </div>
</section>

<!-- <html>
<section>
    <br>
    <br>
    <div class="container">

        <div class="box" style="background-color: hsl(0, 0%, 21%);">
            <div>
                <p class="has-text-centered" style="color: white;">
                    <fa-icon [icon]="faFileCode" [styles]="{'color': 'aqua'}"></fa-icon>
                    resume.cpp
                    <span style="float: right;"> <i class="fas fa-circle" style="color: greenyellow;"></i>  <i class="fas fa-minus-circle" style="color: rgb(247, 210, 46); padding-left: 5px;"></i>  <i class="fas fa-times-circle" style="padding-left: 5px; color: rgb(219, 63, 43);"></i> </span>
                  </p>
              </div>

              <hr/>

              <br>

              <a class="accordion" style="font-size: medium;">
                <i class="fas fa-chevron-right"></i>
                <span class="yellowtext">class</span> <span style="color: paleturquoise;"> Andres</span> {{
              </a>




              <div class="panel">
                <span class="yellowtext">private:</span><br>
                std::string name = <span>"Andres Ponciano"</span>;<br>
                std::string school = <span>"Florida State University"</span>;<br>
                <span class="yellowtext">float</span> gpa = 3.48;<br><br>

                <span class="yellowtext">public:</span><br>
                <span class="yellowtext">void</span> printSkills();<br>
                <span class="yellowtext">void</span> printProjects();<br>
                <span class="yellowtext">void</span> printContact();
              </div>
              <p style="padding-left: 15px; color: white; padding-top: 1px;">}</p>

              <a class="accordion" style="font-size: medium;"> 
                <i class="fas fa-chevron-right"></i>
                <span class="yellowtext">void </span>Andres::printSkills() {      
              </a>
              <div class="panel">
                printf(<span class="stringText">"Languages\n"</span>);<br>
                printf(<span class="stringText">"Proficient in: C++/C, Python and C#\n"</span><br>
                <span class="filler">&nbsp</span> <span class="stringText">"Familiar with: Java, HTML, and CSS\n"</span>);
                <br><br>
                printf(<span class="stringText">"Technologies and Frameworks:\n"</span>);<br>
                printf(<span class="stringText">"Flask, Bootstrap and Android Studio\n"</span>);
              </div>
              <p style="padding-left: 15px; color: white; padding-top: 1px;">}</p>

              <a class="accordion" style="font-size: medium;"> 
                <i class="fas fa-chevron-right"></i>
                <span class="yellowtext">void </span>Andres::printProjects() {    
              </a>
              <div class="panel">
                printf(<span class="stringText">"Procrastinaint\n"</span>);<br>
                printf(<span class="stringText">"Android Application made to help students improve"</span><br>
                <span class="filler">&nbsp</span> <span class="stringText">"productivity and facilitate Google Calendar use."</span>);<br>
                <br>
                printf(<span class="stringText">"Recipe Generator"</span>);<br>
                printf(<span class="stringText">"Flask based web application in order to generate recipes"</span><br>
                <span class="filler">&nbsp</span> <span class="stringText">"based on user inputted ingredients and calories.\n"</span>);<br>

              </div>              
              <p style="padding-left: 15px; color: white; padding-top: 1px;">}</p>

              <a class="accordion" style="font-size: medium;"> 
                <i class="fas fa-chevron-right"></i>
                <span class="yellowtext">void </span>Andres::printContact() { 
              </a>
              <div class="panel">
                printf("<span class="stringText">Resume: <a href="./assets/files/AndresPoncianoResume.pdf">AndresPoncianoResume.pdf</a></span>");<br>
                printf("<span class="stringText">Github: <a href="https://github.com/AndresPonciano">https://github.com/AndresPonciano</a></span>");<br>
                printf("<span class="stringText">LinkedIn: <a href="https://linkedin.com/in/andresponciano">https://linkedin.com/in/andresponciano</a></span>");<br>
                printf("<span class="stringText">Email: <a href="mailto:andres.ponciano123@gmail.com">Send email!</a></span>");<br>
              </div>
              <p style="padding-left: 15px; color: white; padding-top: 1px;">}</p>





        </div>
    </div>
</section>
</html> -->